# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
client/client.iml
config/config.iml
elite/elite.iml
eureka/eureka.iml
gateway/gateway.iml
